#date {
  float: right;
  
}

#user {
  margin-right: 5px;
}

#cnt {
  border-left: groove 2px darkgrey;
  border-bottom: groove 1px darkgrey;
  margin-bottom: 5px;
}

.profile-userpic img {
  float: none;
  margin: 0;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.pfp {
    width: 33.333%;
    text-align: center;
    display: inline-block;
}

.desc {
    position: relative;
    width: 63%;
    bottom: 3em;
    left: 1em;
    text-align: center;
    display: inline-block;
}

#k {
    font-size: 13px;
    width: 100%;
    height: 90%;
    overflow-wrap: break-word;
}